@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient_text{
    background: linear-gradient(45deg, #cf18ad 33%, #429dff 66%, #8AA9D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
}
.image_info_bg_gradient{
    background-image: linear-gradient(rgba(0, 0, 0, 0.34) 0px, rgba(0, 0, 0, 0.337) 3.5%, rgba(0, 0, 0, 0.325) 7%, rgba(0, 0, 0, 0.306) 10.35%, rgba(0, 0, 0, 0.286) 13.85%, rgba(0, 0, 0, 0.263) 17.35%, rgba(0, 0, 0, 0.235) 20.85%, rgba(0, 0, 0, 0.21) 24.35%, rgba(0, 0, 0, 0.19) 27.85%, rgba(0, 0, 0, 0.165) 31.35%, rgba(0, 0, 0, 0.145) 34.85%, rgba(0, 0, 0, 0.125) 38.35%, rgba(0, 0, 0, 0.114) 41.85%, rgba(0, 0, 0, 0.1) 45.35%, rgba(0, 0, 0, 0.1) 48.85%, rgba(0, 0, 0, 0.1) 52.35%, rgba(0, 0, 0, 0.114) 55.85%, rgba(0, 0, 0, 0.125) 59.35%, rgba(0, 0, 0, 0.145) 62.85%, rgba(0, 0, 0, 0.165) 66.35%, rgba(0, 0, 0, 0.19) 69.85%, rgba(0, 0, 0, 0.21) 73.35%, rgba(0, 0, 0, 0.235) 76.85%, rgba(0, 0, 0, 0.263) 80.35%, rgba(0, 0, 0, 0.286) 83.85%, rgba(0, 0, 0, 0.306) 87.35%, rgba(0, 0, 0, 0.325) 90.85%, rgba(0, 0, 0, 0.337) 94.35%, rgba(0, 0, 0, 0.345) 97.85%, rgba(0, 0, 0, 0.35));
}